# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Python files 
*.pyc

#Movies
*.mpg

#Redis
*.rdb

#Make junk 
*.make
*.cmake 
*.internal
*.includecache
*.bin
*.dir
*.marks

# Directories
mqttclient/CMakeFiles/**
build/**
mqttclient/countdownlatch/build/**
mqttclient/build/**
CMakeFiles/**
**/*.cmake


